.plant {
  width: 200px;
  height: 100%;
  background-color: chocolate;
  margin-left: 5px;
  flex-shrink: 0;
  box-sizing: border-box;

  &-title {
    text-align: center;
    font-size: 19px;
    height: 15%;
  }

  &-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 85%;
  }

  &-image {
    background-color: green;
    width: 50%;
    height: 100%;
  }

  %size-fd {
    width: 50%;
    height: 50%;
  }

  &-fruit-image {
    @extend %size-fd;
    background-color: violet;
    cursor: move;
  }

  &-description {
    @extend %size-fd;
    background-color: navajowhite;
  }
}