.plant {
  width: 200px;
  height: 100%;
  background-color: #a67c52;
  margin-left: 5px;
  flex-shrink: 0;
  box-sizing: border-box;

  &-title {
    color: #ffdb6c;
    font-family: "Helvetica Neue Cyr";
    font-size: 18px;
    font-weight: 700;
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 85%;

    img {
      margin: auto;
      display: block;
      vertical-align: middle;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-image {
    width: 50%;
    height: 100%;


  }

  %size-fd {
    width: 50%;
    height: 50%;
  }

  &-fruit-image {
    @extend %size-fd;
    cursor: move;
  }

  &-description {
    @extend %size-fd;
    color: #ffffff;
    font-family: "Helvetica Neue Cyr";
    font-size: 14px;
    padding-top: 10px;

    p {
      line-height: 2px;
    }
  }
}