@import "fonts";
@import "Header";

$borderRadius: 20px;

body {
  background-color: #a67c52;
  font-family: "Helvetica Neue Cyr";
  font-size: 22px;
}


%section {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;

}

.section-1 {
  @extend %section;
  height: 510px;
  border-bottom-left-radius: $borderRadius;
  border-top-left-radius: $borderRadius;

  .field-farm {
    width: 80%;
    height: 500px;
    background-color: red;
    border-style: inset;
    border-color: antiquewhite;
    border-radius: $borderRadius;
    background-image: url("https://retrostylegames.com/img/2019/06/2d-Illustration-Game-Background-Garden-Bench.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    box-sizing: content-box;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;

    .cell-white {
      background-color: white;
    }

    div {
      width: 11%;
      height: 120px;
      margin: 2px;
      //background-color: blueviolet;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .cell-white {
        background-color: white;
      }

      .progress {
        background-color: black;
        width: 100%;
        height: 20px;
        color: white;
        text-align: center;
        line-height: 15px;
      }

      img {
        max-height: 80%;
      }

      &:hover {
        background-color: greenyellow;
        opacity: 0.5;
      }
    }
  }

  @import "BarnMarket";
}

.section-2 {
  @extend %section;
  margin-top: 20px;
  border-style: inset;
  border-color: white;
  background-color: #754c24;
  border-radius: $borderRadius;
  padding: 7px;

  .inventory {
    height: 200px;
    width: 100%;
    display: flex;
    overflow: auto;

    @import "Plant";
  }
}

