
@font-face {
	font-family: 'Helvetica Neue Cyr';
	src: url('fonts/HelveticaNeueCyr-Medium.eot');
	src: local('HelveticaNeueCyr-Medium'),
		url('fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
		url('fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}